body {
    
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("ciel2.jpg");
	background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1
{
	color: white;
}

h2
{
	color: white;
  margin-top: 35px;
}

a
{
	color: white;
}

p
{
	color: white;
}

textarea{
  width: calc(100% - 120px); 
    min-height: 100px;
    margin-right: 10px; 
    padding: 10px;
    resize: vertical; 
}

button{
  
  padding: 30px;
  cursor: pointer;
}



#carte
{
	width: 1000px;
	margin:0 auto;
	background color: white;
	text-align: center;
	align-content: center;

}

